.nav-item, .navbar-brand{
    margin :auto 20px;
}

.container{
    margin-top: 30px;
}

.background-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    user-select: none;
}

.ml-auto{
    margin-left: auto;
}

.margin20px{
    margin: 20px;
}